<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htx.promotion.mapper.CouponMapper">

    <select id="selectByIds" resultType="com.htx.promotion.domain.po.Coupon">
        SELECT id, name, type, discount_type, `specific`, discount_value,
               threshold_amount, max_discount_amount, ext_param, obtain_way,
               issue_begin_time, issue_end_time, term_days, term_begin_time,
               term_end_time, status, total_num, issue_num, user_limit
        FROM coupon
        WHERE id
        <foreach collection="ids" open="IN (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
